*{ 
    /* background-color: aqua; */
   /* background-image: linear-gradient(to top,#08adff 0%,#fff099 100%);  */
   margin:0% 0%;
   padding: 0% 0%;
}
.container{
    opacity:0.3;
    position:relative;
    font-size:2.2em;
    padding-top: 0%;
    margin-top: 0%;
    margin: 0% 0%;
    height: 40%;
    background-color: black;
    font-family: 'Assistant', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* background-image: linear-gradient(to top,#08adff 0%,#ebff99 100%); */
    color:white;
    display:flex;
    justify-content:center;
    align-items: center;
}
.firs{
font-family: 'Lora', sans-serif;
    font-size:1.4em;
    background: url("hostels.jpeg") no-repeat center center/cover;
  color:red;;
}
.photo{
    display:flex ;
    align-items: center;
    justify-content: center;
    color:rgb(0, 47, 255);
}
.mess{
    font-family: 'Lora', sans-serif;
        font-size:1.4em;
    }
.room{
    color: black;

    }
footer{
  color:aqua;
  background-color: black;
    }